In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('/content/winequality-red.csv')

In [ ]:
dataset.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
x = dataset.iloc[: , :-1].values
y = dataset.iloc[: , -1].values

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x , y,test_size = 0.25)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
t_train = y_train.reshape(len(y_train),1)
t_test = y_test.reshape(len(y_test),1)

In [ ]:
x_sc = StandardScaler()
y_sc = StandardScaler()

In [ ]:
x_std_train = x_sc.fit_transform(x_train)
y_std_train = x_sc.fit_transform(t_train)

In [ ]:
x_std_test = x_sc.transform(x_test)
y_std_test = x_sc.transform(t_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
r_reg = RandomForestRegressor(n_estimators = 250)

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
x_poly = PolynomialFeatures(degree = 5)
x_poly =x_poly.fit_transform(x_train)

In [ ]:
r_reg.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=250, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
temp =  PolynomialFeatures(degree = 5)
temp = temp.fit_transform(x_test)

In [ ]:
r_pred = r_reg.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r = r2_score(y_test,r_pred)

In [ ]:
print(r)

0.43517580419990054